html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    margin: 0px;
    padding: 0px;

    padding-top: 8rem;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Others: */

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-inline: 15px;
    padding-bottom: 25px;

    scroll-margin-top: 6rem;
    margin-inline: 20px;
    
    max-width: 990px;
}

.main-container > h1:first-of-type {
    width: 100%;
    text-align: center;
    
    margin-block: 25px;
}

.modifiers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    position: fixed;
    z-index: 1;

    bottom: 5%;
    right: 5%;
}

.modifier-button {
    padding: 10px;
}

.modifier-button > img {
    display: block;
    width: 2rem;
}

/* Responsive design: */

@media (min-width: 720px) {
    .main-container {
        padding-bottom: 35px;
    }

    .modifiers {
        flex-direction: row;
        gap: 15px;
    }

    .modifier-button > img {    
        width: 2.3rem;
    }
}