.about-me-container > #line {
    background-color: #757575;
}

/* Content: */

#profile > a > img {
    border-radius: 100%;

    transition: box-shadow 300ms ease;
}

#profile > p {
    font-family: "Encode Sans Light";
    font-size: 1.6rem;
}

/* Profiles: */

#links > a {
    text-decoration: none;
    text-align: center;
    font-family: "Encode Sans Regular";
    font-size: 0.95rem;

    background-color: #eaeaea;
    color: #474d9e;

    border: 1px solid #d9d2df;
    border-radius: 500px;

    transition: box-shadow 400ms ease;
    transition: border-color 400ms ease;
}

/* */

@media (pointer: fine) {
    #profile > a:hover > img {
        box-shadow: 0px 0px 20px #000000b6;

        transition: box-shadow 300ms ease;
    }

    #links > a:hover {
        box-shadow: 0px 0px 15px #1e004144;

        background-color: #e7e2ec;
        border-color: #b5afcc;
    
        transition: box-shadow 400ms ease;
        transition: border-color 400ms ease;
    }
}

#links > a:active {
    border-color: #a273ce;
}

/* Animation: */
@keyframes profile-icon-animation {
    0% {transform: rotateZ(0deg);}

    20% {transform: rotateZ(30deg);}

    55% {transform: rotateZ(-25deg);}

    100% {transform: rotateZ(0deg);}
}

#links > a > img {
    animation: 2.25s infinite profile-icon-animation;
}

/* ---------- Dark theme: ---------- */

.dark #links > a {
    background-color: #37252b;
    color: #d5d5d5;

    border-color: #78374f;
}

@media (pointer: fine) {
    .dark #profile > a:hover > img {
        box-shadow: 0px 0px 20px #853351;
    }

    .dark #links > a:hover {
        background-color: #6f364b;
        border-color: #c4577f;
        
        box-shadow: 0px 0px 10px #6f364b;
    }

    .dark #links > a:active {
        border-color: #f14760;
    }
}