/* Containers: */

.downloads > span {
    background-color: #eaeaea;

    border: 1px solid #d9d2df;
    border-radius: 20px;

    box-shadow: 0 0 5px #00000010;
}

.downloads > span p {
    border-bottom: 1px solid #303030;
}

/* Download links: */

.downloads a {
    background-color: #e9e9e9;
    color: #303030;
    text-decoration: none;

    border: 1px solid #d9d2df;
    border-radius: 500px;

    transition: box-shadow 400ms ease;
    transition: border-color 400ms ease;
}

@media (pointer: fine) {
    .downloads a:hover {
        box-shadow: 0px 0px 15px #1e004144;

        background-color: #e7e2ec;
        border-color: #b5afcc;
    
        transition: box-shadow 400ms ease;
        transition: border-color 400ms ease;
    }
}

.downloads a:active {
    border-color: #a273ce;
}

/* ---------- Dark theme: ---------- */

.dark .downloads > span {
    background-color: #262626;

    border-color: #404040;
    box-shadow: 0 0 10px #00000030;
}

.dark .downloads > span p {
    border-color: #d5d5d5;
}

/* Download buttons: */

.dark .downloads a {
    background-color: #262626;
    color: #d5d5d5;

    border-color: #404040;
}

@media (pointer: fine) {
    .dark .downloads a:hover {
        background-color: #6f364b;
        border-color: #c4577f;
        
        box-shadow: 0px 0px 10px #6f364b;
    }

    .dark .downloads a:active {
        border-color: #f14760;
    }
}