footer {
    text-align: center;
    font-family: "Albert Sans Extra Light";
    font-size: 1.080rem;
    
    background-color: #272529;
    color: #dfdfdf;
}

footer > a {
    text-decoration: none;
    text-align: center;

    color: #9789e9;
}